@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&display=swap');

.moneyline-bet-wrapper {
    max-width: 900px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

@media only screen and (min-width: 700px) {
    .moneyline-bet-wrapper{grid-template-columns: repeat(3, 1fr);}
}

.moneyline-team-wrapper {
    background-color: darkslategrey;
    border: 0.05rem solid greenyellow;
    color: lightblue;

    font-size: 0.9rem;
    padding: 0.1rem;
}

.moneyline-bet-team, .moneyline-odd {
    margin: 0;
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: center;
    gap: 0.1rem;
}

.moneyline-odd {color: goldenrod}

.moneyline-bet-team h3, .moneyline-odd h3, .unavail-message {
    font-family: 'Barlow Condensed', serif;
    font-weight: 500;
    font-style: normal;
    margin: 0.2rem;
}
