@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&display=swap');

.total-bet-wrapper {
    max-width: 900px;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
}

.under-wrapper, .over-wrapper {
    border: 0.05rem solid greenyellow;
    padding: 0.2rem;
}

.total-info-wrapper {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
}

.number-objects, .total-objects-odd {
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: center;
    gap: 0.3rem;
}

.under-or-over h3, .number-objects h3, .total-objects-odd h3 {
    font-family: 'Barlow Condensed', serif;
    font-weight: 500;
    font-style: normal;
}

.total-objects-odd {
    color: goldenrod;
}

.total-bet-wrapper h3 { 
    text-align: center;
    margin: 0;
}