@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&display=swap');

.checkout-layout {
    width: 80%; 
    margin: auto;
}

@media only screen and (min-width: 800px) {
    .checkout-layout {
        display: grid; 
        grid-template-columns: 1.5fr 1fr;
        gap: 1rem;
    }

    .checkout-bet-list-wrapper {
        margin-top: 0;
    }
}

@media only screen and (max-width: 500px) {
    .checkout-layout {width: 100%}
}

.checkout-bet-list-wrapper {
    margin-top: 1rem;
    border: 0.1rem solid black;
    padding-bottom: 0.5rem;
}


.checkout-bet-title {
    font-family: 'Barlow Condensed', serif;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    background-color: darkslategrey;
    color: skyblue;
    padding: 0.25rem;
}

.checkout-bet-wrapper {
    margin: 1rem 0.5rem 0 0.5rem;
    padding: 1rem;
    font-family: 'Barlow Condensed', serif;
    border: 0.1rem solid black;
    border-radius: 1rem;
    font-style: normal;
    font-weight: 500;
}

.checkout-info-wrapper {
    font-family: 'Barlow Condensed', serif;
    font-style: normal;
    font-weight: 450;
    font-size: 1.25rem;
}

.checkout-info {
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-between;
    width: 95%;
    margin: 0.5rem auto;
}

.checkout-button {
    font-family: 'Barlow Condensed', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;

    background-color: darkslategray;
    color: white; 
    margin-top: 1rem;
    padding: 0.5rem 0;
    text-align: center;
}