@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&display=swap');

.personal-info-wrapper {
    padding: 0.5rem;
    margin: auto;
    border-radius: 1rem;
    font-weight: 400;
}

.detail {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin-top: 0.5rem;
}

.detail h4 {font-size: 0.85rem}
.detail span {font-size: 1.2rem}

@media only screen and (min-width: 1000px) {
    .personal-info-wrapper {
        width: calc(1000px - 1rem);
    }
}

.table-bet-info-cell {
    width: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.main-info-part {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
}

.table-bet-info-cell .cell-child-wrapper:nth-of-type(2) {
    display: flex;
    align-items: center;
}

.table-bet-info-cell .cell-child-wrapper:nth-of-type(2) div {
    background-color: peru;
    color: white;
    border-radius: 0.25rem;
    padding: 0.2rem 0.3rem;  
}

.nontable-bet-info-cell .cell-child-wrapper:nth-of-type(2) {
    text-align: right;
}

.cell-child-wrapper:nth-of-type(1) div {margin: 0.25rem 0;}
