@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&display=swap');

.team-page {margin-left: 150px;}

@media only screen and (max-width: 700px) {
    .team-page {
        margin-top: 6.2rem;
        margin-left: auto;
    }
}

.league-team-wrapper {
    font-family: 'Barlow Condensed', serif;
    font-weight: 400;
    font-style: normal;

    max-width: 780px;
    padding: 0.75rem;
    margin: 1rem auto;
    border-radius: 1rem;
    border: 0.15rem solid black;
}

.img {
    float: left;
    margin-right: 0.75rem;
    width: 37%;
    border: 0.1rem solid black;
}

.league-team-title-wrapper {
    display: flex; 
    flex-flow: row nowrap;
    gap: 0.75rem;
    font-size: 1.25rem;
}

.league-team-title-wrapper div {
    display: flex;
    align-items: center;
}

.league-team-info-wrapper {font-size: 1.5rem;}
.league-team-info-wrapper div {margin-top: 0.25rem;}
.league-team-info-wrapper strong {font-size: 1.2rem;}

.league-team-description-wrapper {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
}

@media only screen and (max-width: 500px) {
    .league-team-wrapper {
        padding: 0.5rem;
    }
    .league-team-title-wrapper {margin-top: 1.5rem;}

    .img {
        float: none;
        width: 100%;
    }
}

