@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&display=swap');

.comment-page {
    padding: 0 0.5rem 0 0.5rem;
}

.comment-section {
    margin-top: 2rem;
}

.comment-wrapper {
    font-family: 'Barlow Condensed', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;

    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
    max-width: 800px;
    margin: 1.3rem auto 0 auto;
}

.avatar-wrapper img {
    border-radius: 50%;
    height: 40px;
}

.first-part-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.first-part-wrapper .username {
    font-size: 1.25rem;
    font-weight: 500;
}

.comment-content {margin-top: 0.2rem;}

.second-part-wrapper {
    font-size: 1rem;
    margin-top: 0.2rem;
    display: flex; 
    flex-flow: row nowrap; 
    gap: 1rem;
}

.reply-wrapper {
    max-width: 780px;
    margin: auto;
    display: grid; 
    grid-template-columns: auto 1fr;
}

.vertical-line {
    height: 100%;
    width: 30px;
    border-left: 0.1rem solid black;
}

.add-comment-wrapper {
    max-width: 800px;
    margin: 0.5rem auto 0 auto;
}

.add-comment-area {
    display: grid; 
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
}

.comment-section-title, .text-area textarea, .comment-button, .see-reply-wrapper, .delete-update {
    font-family: 'Barlow Condensed', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    box-sizing: border-box;
}

.comment-section-title {
    font-weight: 600;
    font-size: 1.6rem;
}

.text-area textarea {
    width: 100%;
    padding: 0.25rem;
    border: 0.1rem solid black;
}

.comment-button-wrapper {
    display: flex;
    flex-flow: row nowrap; 
    gap: 0.5rem;
    justify-content: right;
}

.comment-button {
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 0.4rem;
    border-radius: 0.75rem;
}

.disabled {background-color: lightgray;}

.see-reply-wrapper {
    font-size: 1.05rem;
    max-width: 800px;
    margin: 0.5rem auto 0 auto;
    padding-left: 45px;
}

.delete-update {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.3rem;
    position: absolute;
    top: 1.35rem;
    right: 0.65rem;
}

.delete-update div {
    padding: 0.2rem;
    border-radius: 0.3rem;
}


@media only screen and (max-width: 500px) {
    .comment-wrapper {font-size: 1rem;}
    .first-part-wrapper .username {font-size: 1.1rem;}
    .second-part-wrapper {font-size: 0.9rem;}
    .vertical-line {width: 12px;}
}